<script type="text/javascript" src="due_dates.js.erb">

<div style='padding: 5px' id='review_round' class="form-inline">
  <%= label_tag('assignment_form[assignment][rounds_of_reviews]', 'Number of review rounds:') %>
  <%= text_field_tag('assignment_form[assignment][rounds_of_reviews]', @assignment_form.assignment.rounds_of_reviews, :style => 'width:150px', class: "form-control") %>
  <button type="button" id="set_rounds" class="btn btn-default">Set</button>
  <label style='padding-left: 300px; text-align:right;'>Timezone : <%= current_user.timezonepref %></label>
</div>

<%= hidden_field(:set_pressed, :bool, :value => true) %>

<% if @assignment_form.assignment.rounds_of_reviews > 1 %>
  <!--Add a change name or url checkbox. By: Xiaoqiang Shao-->
  <input name="changenameurl" type="hidden" value="false"/>
  <%= check_box_tag('changenameurl', 'true', @due_date_nameurl_not_empty_checkbox, :onclick => "handleChangenameurl(this.checked,due_date_name_column,due_date_url_column)") %>
  <%= label_tag('changenameurl', 'Name and description URL vary by round') %>
  <br>
<% end %>

<% if @assignment_form.assignment.topics? %>
  <input name="signupAllowed" type="hidden" value="false"/>
  <%= check_box_tag('signupAllowed', 'true', @signup_allowed, :onclick => "removeOrAddSignup()") %>
  <%= label_tag('signupAllowed', 'Use signup deadline') %><br/>

  <input name="dropTopicAllowed" type="hidden" value="false"/>
  <%= check_box_tag('dropTopicAllowed', 'true', @drop_topic_allowed, :onclick => "removeOrAddDropTopic()") %>
  <%= label_tag('dropTopicAllowed', 'Use drop topic deadline') %><br/>
<% end %>

<span id='team_formation_due_date_checkbox' <%= 'hidden' unless @assignment_form.assignment.team_assignment? %>
<input name="teamFormationAllowed" type="hidden" value="false"/>
<%= check_box_tag('teamFormationAllowed', 'true', @team_formation_allowed, :onclick => "removeOrAddTeamFormation()") %>
<%= label_tag('teamFormationAllowed', 'Use team formation deadline') %><br/>
</span>

<input name="metareview_allowed" type="hidden" value="false"/>
<%= check_box_tag('metareview_allowed', 'true', @metareview_allowed, :onclick => "removeOrAddMetareview()") %>
<%= label_tag('metareview_allowed', 'Use meta-review deadline') %><br/><br/>
<div id="date_updater_div">
  <button type="button" id="show_date_updater" class="btn btn-default" style="margin-bottom: 20px; margin-right: 10px; float: left">Show/Hide Date Updater</button>
</div>
<img style="margin-left: 30px" src="/assets/info.png" title='Enter the number of days by which you want to prepone/postpone the deadline. Then select rows using the checkbox provided under Use Date Updater column. Then use +/- to change the Date and Time.   '>
<div id="date_updater_inner" style="float: left; margin-left: 40px">


    <%= label_tag('Days') %>
    <button type="button" id="addDays_btn" class="btn btn-default">+</button>
    <input id="days" type="number" name="quantity" min="0" value="1" style="width:50px">
    <button type="button" id="subDays_btn" class="btn btn-default">-</button>


</div>
<table class='exp table table-striped' id='due_dates_table' style='padding:10px;min-width: 990px;overflow: hidden; font-size: 15px'>

  <tr id='due_date_heading'>
    <th width=10% style="text-align:left;">Deadline type</th>
    <th width=10% style="text-align:center;">Date & time</th>
    <th width=5% style="text-align:center;">Use Date Updater</th>
    <th width=10% style="text-align:center;">Submission allowed</th>
    <th width=8% style="text-align:center;">Review allowed</th>
    <th width=8% style="text-align:center;">Teammate review allowed</th>
    <th width=10% style="text-align:center;">Meta-review allowed</th>
    <% if @assignment_form.assignment.require_quiz %>
      <th width=9% style="text-align:center;">Has quiz</th>
    <% end %>
    <th width=8% style="text-align:center;">Reminder(hrs)</th>
    <th width=10% id="due_date_name_column" style="text-align:center;">Due date name</th>
    <th width=10% id="due_date_url_column" style="text-align:center;">Description URL</th>

  </tr>
  <tr id='blank' style='display:hidden'></tr>
</table>

<%= render :partial => 'assignments/edit/late_policy' %>
